@import "blk/custom/functions";
@import "blk/bootstrap/functions";

@import "blk/custom/variables";
@import "blk/bootstrap/variables";

@import "blk/custom/mixins";
@import "blk/bootstrap/mixins";

//BOOTSTRAP COMPONENTS
@import "blk/bootstrap/root";
@import "blk/bootstrap/reboot";
@import "blk/bootstrap/type";
@import "blk/bootstrap/images";
@import "blk/bootstrap/code";
@import "blk/bootstrap/grid";
@import "blk/bootstrap/tables";
@import "blk/bootstrap/forms";
@import "blk/bootstrap/buttons";
@import "blk/bootstrap/transitions";
@import "blk/bootstrap/dropdown";
@import "blk/bootstrap/button-group";
@import "blk/bootstrap/input-group";
@import "blk/bootstrap/custom-forms";
@import "blk/bootstrap/nav";
@import "blk/bootstrap/navbar";
@import "blk/bootstrap/card";
@import "blk/bootstrap/breadcrumb";
@import "blk/bootstrap/pagination";
@import "blk/bootstrap/badge";
@import "blk/bootstrap/jumbotron";
@import "blk/bootstrap/alert";
@import "blk/bootstrap/progress";
@import "blk/bootstrap/media";
@import "blk/bootstrap/list-group";
@import "blk/bootstrap/close";
@import "blk/bootstrap/modal";
@import "blk/bootstrap/tooltip";
@import "blk/bootstrap/popover";
@import "blk/bootstrap/carousel";
@import "blk/bootstrap/utilities";
@import "blk/bootstrap/print";

// CUSTOM COMPONENTS
@import "blk/custom/alerts.scss";
@import "blk/custom/buttons.scss";
@import "blk/custom/dropdown.scss";
@import "blk/custom/footer.scss";
@import "blk/custom/forms.scss";
@import "blk/custom/images.scss";
@import "blk/custom/modal.scss";
@import "blk/custom/navbar.scss";
@import "blk/custom/type.scss";
@import "blk/custom/icons.scss";
@import "blk/custom/tables";
@import "blk/custom/checkboxes-radio";
@import "blk/custom/fixed-plugin";
@import "blk/custom/pagination.scss";
@import "blk/custom/misc.scss";
@import "blk/custom/rtl.scss";
@import "blk/custom/input-group.scss";
@import "blk/custom/example-pages.scss";
@import "blk/custom/progress.scss";
@import "blk/custom/badge.scss";
@import "blk/custom/pills.scss";
@import "blk/custom/tabs.scss";
@import "blk/custom/info-areas.scss";

//SECTIONS
@import "blk/custom/sections.scss";

//VENDOR/PLUGINS
@import "blk/custom/vendor/plugin-perfect-scrollbar.scss";
@import "blk/custom/vendor/plugin-animate-bootstrap-notify.scss";
@import "blk/custom/vendor/plugin-bootstrap-switch.scss";
@import "blk/custom/vendor/plugin-nouislider.scss";
@import "blk/custom/vendor/plugin-datetimepicker.scss";

//CARDS
@import 'blk/custom/card';
@import "blk/custom/cards/card-chart";
@import "blk/custom/cards/card-map";
@import "blk/custom/cards/card-user";
@import "blk/custom/cards/card-task";
@import "blk/custom/cards/card-plain";
@import "blk/custom/cards/card-register";
@import "blk/custom/cards/card-stats";
@import "blk/custom/cards/card-chart";